.App {
  text-align: center;
  margin:0;
}

header {
  height:40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px #ddd;
}

#nav-title {
  margin-right: auto;
  font-size: 1.5em;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: #b2dfdb;
}

.main_block {
  margin: 20px auto;
  width: 800px;
  display:flex;
  flex-wrap: wrap;
  gap:30px;
  align-items:center;
  justify-content: center;
  align-content:flex-start;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding:20px;
}

.shopping_card {
  padding:5px;
  max-width: 150px;
  height: 300px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  font-family: arial;
  font-size: 0.7em;
  overflow: hidden;
}

.image {
  width:150px;
  height:200px;
  object-fit: cover;
}

.price {
  color: grey;
  font-size: 1em;
}

.shopping_card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 0.7em;
}

.shopping_card h1{
  margin:0;
  padding:7px 20px;
}

.shopping_card p{
  margin:0;
  padding:7px 5px;
}